.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.pokemon_card {
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-color: rgb(104, 104, 116);
  background-repeat: no-repeat, no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  height: 800px;
  width: auto;
  padding: 10px;
}

.pokemon_title {
  font-weight: 500;
  font-size: 4rem;
  white-space: nowrap;
  margin-bottom: 280px;
}

.pokemon_stats {
  background-color: white;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.pokemon_id {
  font-weight: 300;
  display: inline-block;
  margin: 15px 0;
}

.pokemon_title,
.types {
  text-transform: capitalize;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon_image_container {
  height: auto;
  position: absolute;
  top: 200px;
}

img {
  width: 300px;
}
